
.root {
    -fx-background-color: #1a1a2e; 
    -fx-font-family: "System", sans-serif;
    -fx-text-fill: #e94560;
}

.text-title {
    -fx-font-size: 30px; 
    -fx-font-weight: bold;
    -fx-fill: #16c79a; 
    -fx-text-fill: #16c79a; 
    -fx-font-family: "System Bold", sans-serif; 
    
}

.text-subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #e94560; 
    -fx-text-fill: #e94560; 
    -fx-effect: none; 
}

.button-main {
    -fx-background-color: #0f3460;
    -fx-text-fill: #16c79a; 
    -fx-border-color: #16c79a;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10 20 10 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button-main:hover {
    -fx-background-color: #1a1a2e; 
    -fx-text-fill: #e94560; 
    -fx-border-color: #e94560;
    -fx-effect: dropshadow(gaussian, #e94560, 10, 0.5, 0, 0);
}

.button-main:disabled {
    -fx-opacity: 0.5;
    -fx-border-color: #e94560; 
    -fx-text-fill: #e94560;
}

.combo-box, .date-picker {
    -fx-background-color: #0f3460;
    -fx-border-color: #16c79a;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.combo-box .list-cell, .date-picker .text-field {
    -fx-text-fill: #e94560; 
    -fx-background-color: #0f3460;
}

.list-cell {
    -fx-text-fill: #16c79a; 
    -fx-background-color: #1a1a2e;
}

.seat-button {
    -fx-background-color: #0f3460; 
    -fx-text-fill: #16c79a; 
    -fx-border-color: #16c79a;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
}

.seat-button:disabled {
    -fx-background-color: #e94560; 
    -fx-text-fill: white;
    -fx-border-color: #e94560;
    -fx-opacity: 0.7;
}

.seat-selected {
    -fx-background-color: #16c79a; 
    -fx-text-fill: #1a1a2e;
    -fx-border-color: #16c79a;
    -fx-effect: dropshadow(gaussian, #16c79a, 15, 0.8, 0, 0);
}